/* Body Container */
.box-main {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  display:flex;
  align-items: center;
  padding: 3px;
}

.main-row-1 {
  display: flex;
  justify-content: space-around;
}

.main-column-1 {
  align-items: center;
  flex: 50%;
  padding: 3px;
}
  
.bp-box, .sugar-box, .vaccine-box {  
  text-align: center;
  padding: 6px;
  margin: 3px;
  border: 2px solid;
  border-color: rgb(58, 161, 196);
  background-color: #78CAE8;
  box-shadow:  -1px 0px 1px 1px black
}

.info-images {
  margin: 10px;
  width: 20%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(3px 3px 2px #222);
}

.bp-screen {
  color:white;
} 

.sugar-screen {
  color:white;
} 

.vaccine-screen {
  color:white;
} 