.sugar-container {
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    display: flex;
    width: 600px;
    font-size: 18px;
    margin: auto;
    color: black;
    text-align: justify;
    padding-top:5%;
}

.sugar-form-title {
    padding: 10px;
    margin: 5px;
    font-size: 24px;
}

.sugar-form-div {
    margin: 20px;
    padding: 10px;
    display: flex;
    border-width: 1px;
    border-style: solid;
    background: #90caf9;
    font-size: 18px;
    font-weight: 500;
}

.age-input {
    margin-top:1%;
    width: 75px;
}

.sugar-input-field {
    padding: 5px;
    width: 80px;
}

.sugar-fasting {
    margin-top:1%;
    padding: 5px;
}

.sugar-value {
    margin-top:1%;
    padding: 5px;
}

.age-value {
    margin: 10px;
    padding: 5px;
}

.sugar-submit-button {
    margin-left: 38%;
    
}

.pressure-submit-button {
    padding: 5px;
    margin-left: 34%;  
}

.terms-condition {
    padding: 5px;
}

.sugar-query-div {
    margin-left:8%;
    padding-top: 5px;
}

.sugar-query-p {
    
    font-size: 14px;
    margin: 0;
}

.feedback-div {
    align-self: end;
    padding: 15px;
    margin: 10px;
}

.modal-paper {
    
    border: 2px solid rgb(190, 152, 250);
    padding: 2px;
    background-color: #b5c9f6;
    color: black;
    font-size: 18px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker {
    margin-left: 16px;
}