/* footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    color: black;
    background-color: #90caf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy-statement {
    align-items: baseline;
    margin-left: 10px;
}

.made-by:link {
    font-size: 16px;
    color: black !important;
    text-decoration: none;
}

.made-by:visited {
    font-size: 16px;
    color: black !important;
    text-decoration: none;
}

.center-footer {
    display:flex;
    justify-content: space-evenly;
}

.profile-div {
    margin-left: 1.5%;
}