/* footer */

.footer {
    position:absolute;
    bottom:0;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    color:white;
    background-color: #78CAE8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  -2px 0px 2px 2px black
}
  
.privacy-statement {
    align-items: baseline;
    margin-left: 3px;
}

.made-by:link {
    font-size: 18px;
    color:white!important;
    text-decoration: none;
}

.made-by:visited {
    font-size: 18px;
    color:white!important;
    text-decoration: none;
}