.user-home-container {
    display: block;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.welcome-container {
    color: black;
    font: bold;
}

.sidebar-listings-div {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-size: 18px;
}

.sidebar-div {
    background: #81d4fa;
    box-shadow: -1px 0px 3px 1px black;
    width: 30%;
    padding: 5px;
}

.listings-div {
    background: #81d4fa;
    box-shadow: -1px 0px 3px 1px black;
    width: 65%;
    padding: 5px;
}

.sample-div {
    border-color: black;
    padding: 1px;
    margin: 1px;
}

.listings.filter {
    margin: 0;
}

.paper-tabs {
    flex-grow: 1;
}