html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.MuiToolbar-root {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}