@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Work+Sans&display=swap');
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

#root::before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/7.jpg);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.65;
}

#root::after {
  background-color:white;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.2;
}

body {
  background-image: linear-gradient(to top, #81d4fa 0%, #dffffe 100%);
}

/* Material UI Custom */

.MuiToolbar-root {
  background-color: #81d4fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow:  -2px 0px 2px 2px black
}
