.invalid-feedback {
    display: flex !important;
}

.bp-container {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 30px;
}

.form-div  {
    padding: 20px;
    margin: 20px;
    border-width: 1px;
    border-style: solid;
    background: lightskyblue;
}

.bp-form-title {
    padding: 5px;
    margin: 2px;
    text-decoration: underline
}

.bp-username {
    margin-bottom: 5px;
}