/* Hero Container */

.hero-div {
  padding: 30px;
  margin: 20px;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.intro-div {
  color: black;
  padding: 30px;
  margin: 15px;
  font-size: 34px;
}

.tagline-div {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.demo-button {
  color: black;
  padding: 30px;
  margin: 15px;
  font-size: 18px;
}